* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Mulish", sans-serif;
}

section {
  width: 100%;
  height: 722px;
  display: block;
  background: white;
}

nav {
  width: 100%;
  justify-content: space-between;
  align-items: center;
  display: flex;
  padding: 20px 150px;
}

.logo {
  cursor: pointer;
}
.logo button {
  width: 30px;
  border-style: none;
  border-radius: 15px;
  background-color: rgb(81, 180, 212);
  cursor: pointer;
}
.logo button a {
  color: white;
}
.logo a {
  text-decoration: none;
  list-style: none;
  color: black;
  font-weight: 700;
  font-size: 24px;
}
.navbar li {
  display: inline;
  margin-right: 20px;
  font-size: 18px;
}
.navbar li:last-child {
  margin-right: 0px;
}
.navbar li a {
  text-decoration: none;
  color: gray;
}
.navbar li:first-child a {
  color: black;
  font-weight: bold;
}
.navbar li a:hover {
  color: black;
}
.burger {
  display: none;
  cursor: pointer;
}
.burger div {
  width: 20px;
  height: 3px;
  margin: 5px;
  background-color: white;
  transition: all 0.3s ease;
}

.content-header {
  width: auto;
  padding: 100px 150px;
  justify-content: space-between;
  align-items: center;
  display: flex;
}
.content-header .description-header {
  max-width: 500px;
}
.content-header .description-header h1 {
  font-size: 48px;
  font-weight: 700;
  line-height: 56px;
  margin-bottom: 25px;
}
.content-header .description-header p {
  margin-bottom: 40px;
  font-size: 21px;
  font-weight: 300;
  line-height: 32px;
}

.content-header .description-header button {
  border-style: none;
  width: 200px;
  height: 60px;
  border-radius: 55px;
  background-color: rgb(81, 180, 212);
  padding: 5px 20px;
}
.content-header .description-header button a {
  text-decoration: none;
  color: white;
}
.content-header .icon-header img {
  width: 500px;
}

@media screen and (max-width: 800px) {
  nav {
    padding: 25px;
    background-color: rgb(81, 180, 212);
  }
  .logo button {
    background-color: white;
  }
  .logo button a {
    color: rgb(81, 180, 212);
  }
  .logo a {
    color: white;
  }
  .navbar {
    position: absolute;
    display: flex;
    flex-direction: column;
    right: 0px;
    top: 80px;
    justify-content: space-around;
    align-items: center;
    width: 50%;
    height: 100%;
    transform: translate(100%);
    transition: transform 0.5s ease;
    background-color: rgb(81, 180, 212);
  }

  .navbar li {
    opacity: 0;
  }
  .navbar li a {
    color: white;
  }
  .navbar li:first-child a {
  }
  .burger {
    display: block;
  }

  section .content-header {
    padding: 20px;
  }
  section .content-header .description-header {
    width: 400px;
  }
  section .content-header .description-header h1 {
    position: absolute;
    font-size: 24px;
    line-height: 30px;
  }
  section .content-header .description-header p {
    font-size: 16px;
    line-height: 20px;
    margin-bottom: 30px;
    margin-top: 60px;
  }
  section .content-header .description-header button {
    width: 150px;
    height: 30px;
  }
  .content-header .icon-header img {
    width: 180px;
    margin-top: 50px;
  }
}

.nav-active {
  transform: translate(0%);
}

@keyframes navBarFade {
  from {
    opacity: 0;
    transform: translate(50px);
  }
  to {
    opacity: 1;
    transform: translate(0px);
  }
}

.toggle .line1 {
  transform: rotate(45deg) translate(5px, 6px);
}
.toggle .line2 {
  opacity: 0;
}
.toggle .line3 {
  transform: rotate(-45deg) translate(5px, -6px);
}
