* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Mulish", sans-serif;
}

nav {
  background-color: white;
  position: fixed;
  width: 100%;
  height: 10%;
  justify-content: space-between;
  align-items: center;
  display: flex;
  padding: 0px 150px;
  z-index: 1;
}

.logo {
  cursor: pointer;
}
.logo button {
  width: 30px;
  border-style: none;
  border-radius: 15px;
  background-color: rgb(81, 180, 212);
  cursor: pointer;
}
.logo button a {
  color: white;
}
.logo a {
  text-decoration: none;
  list-style: none;
  color: black;
  font-weight: 700;
  font-size: 24px;
}
.navbar li {
  display: inline;
  font-size: 18px;
  padding: 10px;
}
.navbar li a {
  text-decoration: none;
  color: gray;
}
.navbar li:first-child a {
  color: black;
  font-weight: bold;
}
.navbar li a:hover {
  color: black;
}
.burger {
  display: none;
  cursor: pointer;
}
.burger div {
  width: 20px;
  height: 3px;
  margin: 5px;
  background-color: white;
  transition: all 0.3s ease;
}

section {
  width: 100%;
  display: block;
  background: white;
  padding: 100px 150px;
}

.content-header {
  justify-content: space-between;
  align-items: center;
  display: flex;
}
.content-header .description-header {
  max-width: 500px;
}
.content-header .description-header h1 {
  font-size: 48px;
  font-weight: 700;
  line-height: 56px;
  margin-bottom: 25px;
}
.content-header .description-header p {
  margin-bottom: 40px;
  font-size: 21px;
  font-weight: 300;
  line-height: 32px;
}

.content-header .description-header button {
  border-style: none;
  width: 200px;
  height: 60px;
  border-radius: 55px;
  background-color: rgb(81, 180, 212);
  padding: 5px 20px;
}
.content-header .description-header button a {
  text-decoration: none;
  color: white;
}
.content-header .icon-header img {
  width: 500px;
}

.content-service {
  display: flex;
  flex-direction: column;
  align-items: center;
  line-height: 50px;
  justify-content: space-between;
}
.content-service a {
  text-decoration: none;
}
.about-service {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 10px 50px;
}
.about-service h1 {
  font-size: 36px;
  font-weight: bold;
  padding: 10px 0px;
}
.about-service hr {
  width: 100px;
  height: 3px;
  background: black;
}
.about-service p {
  padding: 10px 0px;
  font-size: 18px;
  line-height: 30px;
}

.services {
  justify-content: space-between;
  display: flex;
  flex-wrap: wrap;
  padding: 20px;
}
.services a {
  color: black;
  margin-bottom: 30px;
  box-shadow: 5px 20px 15px 0px rgb(230, 230, 230);
  border-radius: 20px;
}
.services a .container-service {
  width: 300px;
  padding: 20px;
  line-height: 56px;
}
.services a .container-service h1 {
  font-size: 24px;
  font-weight: 700;
}
.services a .container-service p {
  font-size: 16px;
  line-height: 28px;
  font-weight: 300;
}

a button {
  width: 200px;
  height: 56px;
  background-color: white;
  border-radius: 56px;
  border-color: rgb(81, 180, 212);
  cursor: pointer;
  color: rgb(81, 180, 212);
  font-size: 18px;
  font-weight: 700;
}

.content-providers {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.icon-providers img {
  width: 500px;
  margin-right: 50px;
}
.description-providers h1 {
  font-weight: 700;
  font-size: 36px;
  padding: 15px 0px;
}
.description-providers hr {
  width: 56px;
  height: 3px;
  background-color: black;
}
.description-providers p {
  padding: 15px 0px;
  font-weight: 300;
  font-size: 18px;
  line-height: 30px;
  margin-bottom: 20px;
}
.content-download {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.description-download {
  max-width: 500px;
}
.description-download h1 {
  font-size: 36px;
  font-weight: bold;
  padding: 15px 0px;
}
.description-download hr {
  width: 56px;
  height: 3px;
  background-color: black;
}
.description-download p {
  font-size: 18px;
  line-height: 30px;
  padding: 15px 0px;
  margin-bottom: 20px;
}
.icon-download img {
  width: 500px;
}

.content-testimonials {
  background-image: linear-gradient(45deg, rgb(63, 160, 192), rgb(150, 220, 243));
  min-height: 350px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-radius: 20px;
  padding: 20px;
}
.content-testimonials h1 {
  font-size: 36px;
  font-weight: 700;
  color: white;
  padding: 20px;
}
.content-testimonials hr {
  margin: 0px auto;
  width: 56px;
  height: 3px;
  background-color: rgba(255, 255, 255, 0.85);
  border-radius: 5px;
}
.content-testimonials .customers {
  display: flex;
  opacity: 0;
  justify-content: space-between;
  align-items: center;
  padding: 40px;
}
.content-testimonials .customers .profile {
  display: flex;
  align-items: center;
}
.content-testimonials .customers .profile img {
  width: 100px;
  height: 100px;
  border: 3px solid white;
  border-radius: 100%;
}
.content-testimonials .customers .profile div {
  text-align: left;
  padding: 20px;
}

.content-testimonials .customers .profile div h2 {
  color: white;
  font-size: 22px;
  margin-bottom: 5px;
}
.content-testimonials .customers .profile div h3 {
  color: rgba(255, 255, 255, 0.85);
  font-size: 18px;
}
.content-testimonials .customers p {
  color: rgba(255, 255, 255, 0.85);
  max-width: 400px;
  text-align: left;
}
.arrow-nav {
  height: 30px;
  padding: 30px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.arrow-nav i {
  color: rgb(81, 180, 212);
  cursor: pointer;
  opacity: 0.5;
}
.arrow-nav i:hover {
  opacity: 1;
}
.arrow-nav .carousel-slider {
  min-width: 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.arrow-nav .carousel-slider button {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: rgb(81, 180, 212);
  border: 0;
  cursor: pointer;
  opacity: 0.5;
}

.content-article {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.content-article h1 {
  font-size: 36px;
  font-weight: bold;
  padding: 20px 0px;
  margin: auto;
}
.content-article hr {
  width: 56px;
  height: 3px;
  margin: 10px auto;
  background-color: black;
}
.articles {
  display: flex;
  flex-wrap: wrap;
  padding: 20px;
  justify-content: space-between;
}
.articles .container-article {
  width: 300px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-radius: 20px;
  box-shadow: 5px 20px 15px 0px rgb(230, 230, 230);
  margin-bottom: 40px;
}
.articles .container-article img {
  border-radius: 20px 20px 0px 0px;
}
.articles .container-article h3 {
  padding: 20px;
  font-size: 21px;
  font-weight: 700;
  line-height: 32px;
}
.articles .container-article p {
  padding: 0px 20px;
  font-size: 16px;
  line-height: 28px;
}
.articles .container-article a {
  margin: 20px 20px;
  text-decoration: none;
  font-size: 17px;
  font-weight: bold;
}
.content-article a {
  margin: auto;
  color: rgb(81, 180, 212);
}

footer {
  display: flex;
  justify-content: space-between;
  padding: 100px 150px;
  background-color: rgb(81, 180, 212);
}
footer div {
  display: flex;
  flex-direction: column;
  line-height: 28px;
  font-size: 18px;
  max-width: 400px;
  color: rgba(255, 255, 255, 0.85);
}
footer div h4 {
  font-size: 24px;
  font-weight: 700;
  color: white;
  padding: 20px 0;
}
footer div h4 span {
  background-color: white;
  display: inline-block;
  width: 30px;
  border-radius: 15px;
  text-align: center;
  font-size: 26px;
  color: rgb(81, 180, 212);
  font-weight: 700;
  margin-right: 10px;
}
footer div h5 {
  font-size: 16px;
  font-weight: normal;
  padding: 30px 0;
}
footer a {
  text-decoration: none;
  color: rgba(255, 255, 255, 0.85);
  margin: 5px 0;
}
footer .navFooter {
  min-width: 400px;
  flex-direction: row;
  justify-content: space-between;
}

@media screen and (max-width: 800px) {
  * {
    margin: 0;
    padding: 0;
  }
  nav {
    top: 0px;
    height: 10%;
    padding: 0px 25px;
    background-color: rgb(81, 180, 212);
    z-index: 1;
  }
  .logo button {
    background-color: white;
  }
  .logo button a {
    color: rgb(81, 180, 212);
  }
  .logo a {
    color: white;
  }
  .navbar {
    position: fixed;
    display: flex;
    flex-direction: column;
    right: 0px;
    top: 0px;
    justify-content: space-around;
    align-items: center;
    width: 50%;
    height: 95%;
    margin-top: 10%;
    transform: translate(100%);
    transition: transform 0.5s ease;
    background-color: rgb(81, 180, 212);
  }

  .navbar li {
    opacity: 0;
  }
  .navbar li a:first-child {
    color: white;
    font-weight: normal;
  }
  .navbar li a {
    color: white;
  }
  .burger {
    display: block;
  }

  section {
    padding: 20px;
  }
  .content-header {
    padding-top: 15%;
  }
  .content-header .description-header {
    width: 400px;
  }
  .content-header .description-header h1 {
    font-size: 24px;
    line-height: 30px;
  }
  .content-header .description-header p {
    font-size: 16px;
    line-height: 20px;
    margin-bottom: 30px;
  }
  .content-header .description-header button {
    width: 150px;
    height: 30px;
  }
  .content-header .icon-header img {
    width: 180px;
    margin-top: 50px;
  }

  .content-service .about-service {
    padding: 20px;
  }
  .content-service .about-service h1 {
    font-size: 24px;
  }
  .content-service .about-service hr {
    width: 40px;
  }
  .content-service .about-service p {
    font-size: 16px;
    line-height: 20px;
  }
  .content-service .services {
    padding: 0;
  }
  .content-service .services a .container-service {
    width: 160px;
  }
  .content-service .services a .container-service h3 {
    font-size: 18px;
    line-height: 30px;
    padding-bottom: 20px;
  }
  .content-service .services a .container-service p {
    font-size: 14px;
    line-height: 20px;
  }
  .content-service a button {
    width: 150px;
    height: 40px;
    font-size: 16px;
  }

  .content-providers {
    justify-content: space-around;
  }
  .content-providers .icon-providers img {
    width: 180px;
    margin-right: 0px;
    padding-right: 15px;
  }
  .content-providers .description-providers h1 {
    font-size: 24px;
  }
  .content-providers .description-providers hr {
    width: 40px;
  }
  .content-providers .description-providers p {
    font-size: 16px;
    line-height: 20px;
    margin-bottom: 0;
  }
  .content-providers .description-providers a button {
    width: 150px;
    height: 40px;
    font-size: 16px;
  }

  .content-download .description-download h1 {
    font-size: 24px;
  }
  .content-download .description-download hr {
    width: 40px;
  }
  .content-download .description-download p {
    font-size: 16px;
    line-height: 20px;
    margin-bottom: 0;
  }
  .content-download .description-download button {
    width: 150px;
    height: 40px;
    font-size: 16px;
  }
  .content-download .icon-download img {
    width: 180px;
  }

  .content-testimonials {
    min-height: 380px;
    display: block;
  }
  .content-testimonials h1 {
    font-size: 24px;
  }
  .content-testimonials .customers {
    padding: 20px;
    display: block;
    flex-direction: column;
  }
  .content-testimonials .customers .profile {
    justify-content: left;
  }
  .content-testimonials .customers .profile img {
    width: 70px;
    height: 70px;
  }
  .content-testimonials .customers .profile div {
    padding: 10px;
  }
  .content-testimonials .customers .profile div h2 {
    font-size: 20px;
  }
  .content-testimonials .customers .profile div h3 {
    font-size: 16px;
  }
  .content-testimonials .customers p {
    padding: 10px;
    max-width: unset;
  }

  .content-article h1 {
    font-size: 24px;
  }
  .content-article hr {
    width: 40px;
  }
  .content-article .articles {
    justify-content: center;
  }
  footer {
    padding: 10px;
    display: block;
  }
  footer div {
    font-size: 14px;
  }
  footer div h4 {
    font-size: 16px;
  }
  footer div h5 {
    font-size: 14px;
  }
  footer .navFooter {
    min-width: 250px;
  }
}

.nav-active {
  transform: translate(0%);
}

@keyframes navBarFade {
  from {
    opacity: 0;
    transform: translate(50px);
  }
  to {
    opacity: 1;
    transform: translate(0px);
  }
}

.toggle .line1 {
  transform: rotate(45deg) translate(5px, 6px);
}
.toggle .line2 {
  opacity: 0;
}
.toggle .line3 {
  transform: rotate(-45deg) translate(5px, -6px);
}

.content-testimonials .carousel-active {
  display: flex;
}

@keyframes customerFade {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
